In [4]:
#Data
import pandas as pd
dataset = pd.read_csv('seattleWeather_1948-2017.csv')

dataset.tail()

,date,amount_of_precipitation,max_temperature,min_temperature,rain
25546,2017-12-10,0.0,49,34,False
25547,2017-12-11,0.0,49,29,False
25548,2017-12-12,0.0,46,32,False
25549,2017-12-13,0.0,48,34,False
25550,2017-12-14,0.0,50,36,False